* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 2rem;
}

#home-list {
  list-style: none;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#menu-list > li {
  margin: 0 1rem 0 0;
}
